---
layout: default
---
<!-- 
{% for tag in site.data.tags %}
  <span class="tag" data-tag="{{tag}}">
    {{ site.data.format[tag] }}
  </span>
{% endfor %} -->
<!-- 
{% include category-tag-list.html %} -->


<div class="page clearfix">
    <div class="left">
      <h1>{{page.title}}</h1>
      <hr>
      <ul>
        {% for category in site.categories %}
          <h2 id="{{category | first}}">{{category | first}}</h2>
          {% for posts in category %}
            {% for post in posts %}
              {% if post.url %}
                <li>
                  <time>
                    {{ post.date | date:"%F" }} {{ post.date | date: "%a" }}.
                  </time>
                  <a class="title" href="{{ post.url | relative_url }}">{{ post.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
  </div>
  